

#main {

    margin: 15%;
    text-align: center;
    padding: 8%;
    border: 2px solid grey;
    box-shadow: 2px 5px darkgrey;
    background: #ffffff87;
}
body{
    background: url("https://farm6.static.flickr.com/5565/14966430316_bdde3fbf1d_b.jpg") no-repeat center;

    background-size: cover;
}

.btn-primary{
    padding: 20px;
    font-size: 20px;
    width: 500px;
}